:root {
  --blue: #156CC2;
  --grey: #B6C2CC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-rows: 1fr 6fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;

  background-color: var(--blue);
  
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: fit-content(1rem) fit-content(1rem) fit-content(1rem);
  gap: 30px;
  justify-content: center;
}

.sidebar svg path {
  fill: #FFFFFF;
}

.logo {
  margin-top: 8px;
}

.sidebar .logo .nav-line .icon svg{
  height: 2rem;
}

.sidebar .logo .nav-line .text {
  font-size: 1.4rem;
}

.sidebar .nav-line {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: start;
  gap: 8px;
  border-radius: 8px;
  margin: 8px;
}

.sidebar .nav-line .icon {
  justify-self: center;
}

.sidebar .nav-line svg {
  height: 0.9rem;
  width: auto;
}

.sidebar .nav-line .text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
}

.upper-nav > a:link,
.lower-nav > a:link {
  text-decoration: none;
}

.upper-nav .nav-line:hover,
.lower-nav .nav-line:hover {
  background-color: #449ADB;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 16px;
}

.search {
  margin: 8px;
  height: 1.5rem;
  display: grid;
  grid-template-columns: fit-content(1%) 1fr;
  grid-template-rows: 1rem;
  gap: 10px;
  align-items: center;
}

.header svg {
  height: 100%;
  justify-self: center;
  align-self: center;
}

.header input {
  height: 1.5rem;
  width: 80%;
  border-radius: 15px;
  background-color: var(--grey);
  border: 0;
}
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--grey);
}

.main-content .projects {
  grid-area: 1 / 1 / 3 / 2;
}

.main-content .trending {
  grid-area: 2 / 2 / 3 / 3;
}
